button {
  border: none;
  padding: 8px 12px;
  background-color: $buttons;
  color: $white;
  border-radius: 4px;
  font-family: $body;
  transition: 0.3s ease;
  &:hover {
    cursor: pointer;
    transition: 0.3s ease;
    transform: translate(0 -10px);
  }
}

input {
  border: none;
  font-family: $body;
  border-radius: 4px;
  background-color: $bg;
}