#recent-searches-select {
  margin: $container-pad 0;
  width: calc(100% - ($container-pad * 2));
  height: 60px;
  border: none;
  font-family: $body;
  border-radius: 8px;
  background-color: $white;
  padding: 10px;
  font-weight: bold;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  cursor: pointer;
  option {
    height: 40px;
  }
}