$search-height: 50px;

#searchContainer {
  position: relative;
  padding: $container-pad;
  background-color: $white;
  .search-display {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: $container-pad;
    h3 {
      font-size: 16px;
      margin: 0 4px;
    }
    #to-text {
      text-transform: uppercase;
      color: $buttons;
      font-size: 12px;
      font-weight: 800;
    }
  }
  .search {
    background-color: $bg;
    border-radius: 10px;
    margin-bottom: 5px;
    height: $search-height;
    display: flex;
    input {
      width: 100%;
      height: 100%;
      padding: 10px;
    }
  }
}

.search-results {
  &>* {
    padding: $container-pad;
    &:hover {
      background-color: $white;
      cursor: pointer;
    }
  }
  h2 {
    &:hover {
      background-color: $bg;
      cursor: initial;
    }
  }
}

#CurrentLocationWrapper {
  .location-dot {
    width: $search-height;
    height: $search-height;
    background-color: $bg-dark;
    border-radius: 0 10px 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $buttons;
  }
  .location-dot-active {
    width: $search-height;
    height: $search-height;
    background-color: $buttons;
    border-radius: 0 10px 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $bg;
  }
}