$bg: #EEF9F6;
$bg-dark: #DAF2EC;
$bg-darker: #B0E1D5;

$accent: #1BAE81;

$buttons: #00554E;

$white: #FFFFFF;

$orange-light: #FFF7E4;
$orange-dark: #FF8D2E;

$pink-bg: #FFEDF5;
$pink-light: #FEA3C8;
$pink-dark: #F478AA;

$blue-bg: #EBF1FF;
$blue-light: #A4BDF7;
$blue-dark: #4677EC;

$body-text: black;