#homeWrapper {
  display: flex;
  flex-wrap: wrap;
  padding: $container-pad;
  background-color: $bg-dark;
  div {
    margin-top: $container-pad;
  }
  .image-container {
    img {
      width: 100%;
    }
  }
  .text-container {
    h1 {
      margin-bottom: 30px;
    }
    p {
      font-size: 14px;
      margin-top: 10px;
      margin-bottom: 20px;
    }
    button {
      height: 40px;
      margin-top: $container-pad;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      transition: 0.5s ease;
      &:hover {
        background-color: $orange-dark;
        transition: 0.5s ease;
      }
    }
  }
}